* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial;
    color: var(--secondary);
    text-align: center;
}

.img__logo_2{
    width: 200px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

:root {
    --primary: #000;
}
header{
    background:  var(--primary);
}